UNBAKE_ENV=dev
UNBAKE_TMP_DIR=./tmp
UNBAKE_MAX_AUDIO_DURATION_SEC=600
UNBAKE_TRANSCRIBER_MODEL=large-v3
UNBAKE_TRANSCRIBER_DEVICE=cuda
UNBAKE_TRANSCRIBER_COMPUTE_TYPE=float16
UNBAKE_BATCH_SIZE=16
UNBAKE_CATALOG_BASE_URL=https://lrclib.net
UNBAKE_GPU_PRICE_PER_SECOND=0.00016
